@use "../../../styles/mixins/mixins.scss" as *;
@use "../../../styles/common/var.scss" as *;

@include b(button) {
  color: $color-black;

  @include e(text) {
    font-size: 16px;
  }

  @include m(primary) {
    background-color: $color-primary;
  }
}
